{% extends "layout.html" %}

{% block title %}Accueil Mozilla Tunisia{% endblock %}

{% block style %}


    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/responsive-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home2.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home-min.css') }}">

<!--[if IE 9]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie9-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie8-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie-min.css?build=c6d3fcc" />
<![endif]-->

{% endblock %}

{% block javascript %}
    <script id="undefined" src="{{ url_for('static', filename='home/js/inpage_linkid.js') }}" async="" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='home/js/site-min.js') }}"></script>
    {% endblock %}
</head>

<body id="home" class="html-ltr sand lang-fr wide">
	<div id="strings" data-global-close="Fermer" data-news-next="Article suivant" data-news-prev="Article précédent">
	</div>

	<div id="outer-wrapper">
		<div id="wrapper">
    {% block main_content %}
			<main id="main-content" role="main">
				<header class="mission">
					<a href="{{ url_for('home') }}"><img id="logo" src="{{ url_for('static', filename='common/img/logo.png') }}"></a>
					<h1>
						<img class="mz" src="{{ url_for('static', filename='common/img/mozilla-wordmark-red.png') }}" data-src="//mozorg.cdn.mozilla.net/media/img/home/mozilla-wordmark-red.png" data-high-res="true" alt="Mozilla" height="70" width="258">
						Tunisia
					</h1>
					<p class="tagline">
						Un Web plus juste, c'est dans nos co{r}des
					</p>					
				</header>
				<section class="pillars">
					<ul class="accordion">
						<li id="panel-blog" class="panel" tabindex="0">
						<h2 class="panel-title"><i>Visitez</i> notre Blog</h2>
						<div class="panel-inner">
							<div class="panel-content">
								<a href="http://blog.mozilla-tunisia.org">
								<h3>Suivez nos dernières nouvelles</h3>
								<p>
									Restez branchés en suivant les dernières nouvelles de notre communauté et de Mozilla.
								</p>
								<p class="go">
									Visitez le Blog
								</p>
								</a>
							</div>
						</div>
						</li>
						<li id="panel-kernel" class="panel" tabindex="0">
						<h2 class="panel-title"><i>Rejoignez</i> Mozilla Tunisia</h2>
						<div class="panel-inner">
							<div class="panel-content">
								<a href="{{ url_for('contribute') }}" hreflang="en-US">
								<div class="angle">
									<div class="content" style="color:#494949;">
										<h3>Rejoignez notre communauté</h3>
										<p>
                      Vous êtes fan du Web et vous voulez contribuer aux projets Mozilla ? Rejoignez l'équipe des contributeurs tunisiens.
										</p>
										<p class="go">
											En savoir plus
										</p>
									</div>
								</div>
								</a>
							</div>
						</div>
						</li>
						<li id="panel-fxos" class="panel" tabindex="0">
						<h2 class="panel-title"><i>Découvrez </i><br> Firefox OS</h2>
						<div class="panel-inner">
							<div class="panel-content">
								<a href="https://masterfirefoxos.mozilla.org/fr/2-0/">
								<h3>Découvrez Firefox OS</h3>
								<p>
									Nous vous proposons de la documentation, des démos, des outils, des tutoriels et plein d'autres choses liées au nouveau système d'exploitation mobile de Mozilla.
								</p>
								<p class="go">
									En savoir plus
								</p>
								</a>
							</div>
						</div>
						</li>
						<li id="panel-donate" class="panel" tabindex="0">
						<h2 class="panel-title"><i>Notre</i> Mission</h2>
						<div class="panel-inner">
							<div class="panel-content">
								<a href="https://www.mozilla.org/fr/mission/">
								<h3>Mozilla : La mission</h3>
								<p>
                  Il s'agit d'apprendre, de collaborer et de partager vos compétences avec une communauté mondiale de Mozilliens entre développeurs, militants et bien d'autres
								</p>
                <p class="go">
                  En savoir plus sur la mission de Mozilla
                </p>
                	</a>
							</div>
						</div>
						</li>
					</ul>
				</section>
				<section id="firefox-promo" class="billboard">
				<div class="container">
					<a href="http://www.mozilla.org/fr/firefox/" id="firefox-promo-link">
					<h3>
					<img class="" src="{{ url_for('static', filename='home/img/firefox-sm.png') }}" data-high-res="true" alt="" height="100" width="280">

						</h3>
      <h4>Engagé pour vous, votre vie privée et un web ouvert</h4>
					</a>
					<div id="download-button-desktop-release" class="download-button download-button-small download-button-noicon">

						<ul role="presentation" class="download-list">

							<li class="os_linux">
								<a class="download-link" href="https://www.mozilla.org/fr/firefox/channel/" data-direct-link="https://download.mozilla.org/?product=firefox-26.0&amp;os=linux&amp;lang=fr">
									<span class="download-content">
										<!-- <strong class="download-title">Firefox</strong> -->
										<span class="download-subtitle">Téléchargement gratuit</span>
										<!--<span class="download-lang">Français</span>
										<span class="download-platform">Linux</span>-->
									</span>
								</a>
							</li>

						</ul>

					</div>
				</div>
				</section>
				<section class="extra">
				<div class="container small">
					<aside class="billboard newsletter-form">
					<form id="footer-email-form" method="post" action="https://lists.mozilla.org/subscribe/community-tunisia">
						<h3>Recevoir des informations sur notre mailing list</h3>
						<div class="form-contents">
							<div class="field field-email">
								<label for="id_email" class="hidden">Adresse électronique</label>
								<input name="email" id="id_email" required="" aria-required="true" placeholder="VOTRE ADRESSE ÉLECTRONIQUE ICI" type="email">
							</div>
							<div id="form-details">
								<div class="field field-privacy">
									<label for="id_privacy" class="privacy-check-label">
									<input required="" aria-required="true" name="custom-314" id="id_privacy" type="checkbox">
									<span class="title">J'accepte que vous utilisiez ces informations conformément à votre <a href="http://www.mozilla.org/en-US/privacy-policy">politique de confidentialité</a></span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-submit">
							<input id="footer_email_submit" value="Je m'inscris »" class="button" type="submit">
							<p class="form-details">
								<small>Nous ne vous enverrons que des informations concernant Mozilla.</small>
							</p>
						</div>
					</form>
					</aside>

				</div>
				</section>
			</main>
    {% endblock %}
		</div>
		<!-- close #wrapper -->
	</div>
	<!-- close #outer-wrapper -->
{% block last_load_javascript %}
	<!--[if IE 9]>
	      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
	    <![endif]-->
	<script src="{{ url_for('static', filename='home/js/mozorg-resp-min.js') }}"></script>
	<!--[if gt IE 7]> <!-- -->
	<script src="{{ url_for('static', filename='home/js/home-min.js') }}"></script>
	<!-- <![endif]-->
	<div class="crossrider-nofity-14917" index="0">	</div>
	<div class="crossrider-nofity-14917-top-left">	</div>
	<div class="crossrider-nofity-14917-top-right">	</div>
	<div class="crossrider-nofity-14917-bottom-left"> </div>
	<div class="crossrider-nofity-14917-bottom-right"></div>
{% endblock %}
</body>

</html>
