.inquiry-form ul {
    list-style: outside none none;
}
.inquiry-form .section-title {
    margin-left: 10px;
    text-align: left;
}
.inquiry-form .areas {
    background: none repeat scroll 0 0 #f5f1e8;
    border-radius: 6px;
    margin: 0 -10px;
    padding: 20px 10px;
    text-align: left;
}
.inquiry-form .areas .section-title {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
}
.inquiry-form .areas label {
    display: block;
    font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: -0.01em;
    line-height: 1.1;
    margin: 0 0 0.5em;
}
.inquiry-form .areas p {
    margin: 0 10px;
}
.inquiry-form .personal::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.inquiry-form .personal li {
    float: left;
    margin: 0 10px 20px;
    text-align: left;
    width: 46%;
}
.inquiry-form .personal label, .inquiry-form .personal .label {
    display: block;
    font-size: 1rem;
    margin: 0 0 0.25em;
}
.inquiry-form .personal label.inline, .inquiry-form .personal .inline label {
    display: inline-block;
}
.inquiry-form .personal .form-message {
    clear: both;
    float: none;
    margin: 0 10px 20px;
    width: auto;
}
.inquiry-form .personal .form-agree {
    clear: both;
    float: none;
    margin: 0 10px 20px;
    width: auto;
}
.inquiry-form .personal .form-agree label {
    font-size: 0.875rem;
}
.inquiry-form .personal .form-format {
    clear: both;
    float: none;
    margin: 0 10px 20px;
    width: auto;
}
.inquiry-form .personal .form-format .label {
    display: inline;
    margin-right: 30px;
}
.inquiry-form .personal .form-format label {
    font-size: 0.875rem;
    margin-right: 10px;
}
.inquiry-form .personal .form-newsletter {
    clear: both;
    float: none;
    margin: 0 10px 20px;
    text-align: center;
    width: auto;
}
.inquiry-form .personal .select {
    width: 100%;
}
.inquiry-form .submit {
    margin: 30px 10px 0;
    position: relative;
    text-align: right;
}
.inquiry-form .submit button {
    background-color: #0096dd;
    border: 0 none;
    border-radius: 0.5em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;
    font-size: 1.125rem;
    font-weight: bold;    
    padding: 10px 20px;
    text-transform: uppercase;
    top: 0;
    transition: all 0.15s ease-in-out 0s;
    width: auto;
}
.inquiry-form .submit button:hover, .inquiry-form .submit button:focus, .inquiry-form .submit button:active {
    background-color: #00a7f7;
    color: #fff;
    text-decoration: none;
}
.inquiry-form .submit button::after {
    content: " »";
    white-space: nowrap;
}
.inquiry-form input[type="checkbox"] {
    font-size: 1rem;
    height: 16px;
    width: 16px;
}
.inquiry-form .errorlist {
    color: #c13832;
    margin: 0;
    padding: 0.25em 0;
}
.inquiry-form .errorlist li {
    float: none;
    margin: 0 0 0.5em;
    width: auto;
}
input[type="text"], input[type="email"], textarea {
    background: none repeat scroll 0 0 #fcf9f4;
    border: 2px solid #d7d3c8;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5em 8px;
    transition: border-color 0.2s ease 0s;
    width: 100%;
}
input:focus, textarea:focus {
    background: none repeat scroll 0 0 #fff;
}
.intro{
    margin-right: auto;
    margin-left: auto;
}
.video-right {    
    text-align: left;
}
@media only screen and (max-width:760px) {
    .inquiry-form .personal li {
        width: auto;
    }
    .button{
        width: 100%;
    }
    .social {
        display: none;
    }
    .g-recaptcha{
        max-width: 200px !important;
    }

}

.flash{
    color: #c10000;
    font-size: 0.9em;
    margin-top: -5px;
    padding: 0;
}
.control-group.flash input, .control-group.flash select, .control-group.flash textarea {
    border-color: #b94a48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
hr {
    background: url("../common/img/divider.png") no-repeat scroll center 0 transparent;
    border: 0 none;
    height: 6px;
    margin: 22px 0;
}
h3, h4, h5 {
    color: #0088cc;
}
ul.social-icons {
    margin: 0;
    padding: 0;
    width: auto;
}
ul.social-icons li {
    background-color: #fff;
    background-image: url("../common/img/social-sprites.png");
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: -1px 1px 5px 0;
    overflow: visible;
    padding: 0;
    transition: all 0.3s ease 0s;
}
ul.social-icons li a {
    display: block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
}
ul.social-icons li a:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.3) inset;
}
ul.social-icons li:active, ul.social-icons li a:active {
    border-radius: 100%;
}
ul.social-icons li.digg {
    background-position: 0 0;
}
ul.social-icons li.digg:hover {
    background-position: 0 -30px;
}
ul.social-icons li.dribbble {
    background-position: 0 -60px;
}
ul.social-icons li.dribbble:hover {
    background-position: 0 -90px;
}
ul.social-icons li.facebook {
    background-position: 0 -120px;
}
ul.social-icons li.facebook:hover {
    background-position: 0 -150px;
}
ul.social-icons li.flickr {
    background-position: 0 -180px;
}
ul.social-icons li.flickr:hover {
    background-position: 0 -210px;
}
ul.social-icons li.forrst {
    background-position: 0 -240px;
}
ul.social-icons li.forrst:hover {
    background-position: 0 -270px;
}
ul.social-icons li.googleplus {
    background-position: 0 -300px;
}
ul.social-icons li.googleplus:hover {
    background-position: 0 -330px;
}
ul.social-icons li.html5 {
    background-position: 0 -360px;
}
ul.social-icons li.html5:hover {
    background-position: 0 -390px;
}
ul.social-icons li.icloud {
    background-position: 0 -420px;
}
ul.social-icons li.icloud:hover {
    background-position: 0 -450px;
}
ul.social-icons li.lastfm {
    background-position: 0 -480px;
}
ul.social-icons li.lastfm:hover {
    background-position: 0 -510px;
}
ul.social-icons li.linkedin {
    background-position: 0 -540px;
}
ul.social-icons li.linkedin:hover {
    background-position: 0 -570px;
}
ul.social-icons li.myspace {
    background-position: 0 -600px;
}
ul.social-icons li.myspace:hover {
    background-position: 0 -630px;
}
ul.social-icons li.paypal {
    background-position: 0 -660px;
}
ul.social-icons li.paypal:hover {
    background-position: 0 -690px;
}
ul.social-icons li.picasa {
    background-position: 0 -720px;
}
ul.social-icons li.picasa:hover {
    background-position: 0 -750px;
}
ul.social-icons li.pinterest {
    background-position: 0 -780px;
}
ul.social-icons li.pinterest:hover {
    background-position: 0 -810px;
}
ul.social-icons li.reddit {
    background-position: 0 -840px;
}
ul.social-icons li.reddit:hover {
    background-position: 0 -870px;
}
ul.social-icons li.rss {
    background-position: 0 -900px;
}
ul.social-icons li.rss:hover {
    background-position: 0 -930px;
}
ul.social-icons li.skype {
    background-position: 0 -960px;
}
ul.social-icons li.skype:hover {
    background-position: 0 -990px;
}
ul.social-icons li.stumbleupon {
    background-position: 0 -1020px;
}
ul.social-icons li.stumbleupon:hover {
    background-position: 0 -1050px;
}
ul.social-icons li.tumblr {
    background-position: 0 -1080px;
}
ul.social-icons li.tumblr:hover {
    background-position: 0 -1110px;
}
ul.social-icons li.twitter {
    background-position: 0 -1140px;
}
ul.social-icons li.twitter:hover {
    background-position: 0 -1170px;
}
ul.social-icons li.vimeo {
    background-position: 0 -1200px;
}
ul.social-icons li.vimeo:hover {
    background-position: 0 -1230px;
}
ul.social-icons li.wordpress {
    background-position: 0 -1260px;
}
ul.social-icons li.wordpress:hover {
    background-position: 0 -1290px;
}
ul.social-icons li.yahoo {
    background-position: 0 -1320px;
}
ul.social-icons li.yahoo:hover {
    background-position: 0 -1350px;
}
ul.social-icons li.youtube {
    background-position: 0 -1380px;
}
ul.social-icons li.youtube:hover {
    background-position: 0 -1410px;
}
ul.social-icons li.github {
    background-position: 0 -1440px;
}
ul.social-icons li.github:hover {
    background-position: 0 -1470px;
}
ul.social-icons li.behance {
    background-position: 0 -1500px;
}
ul.social-icons li.behance:hover {
    background-position: 0 -1530px;
}
ul.social-icons li.yelp {
    background-position: 0 -1560px;
}
ul.social-icons li.yelp:hover {
    background-position: 0 -1590px;
}
ul.social-icons li.mail {
    background-position: 0 -1620px;
}
ul.social-icons li.mail:hover {
    background-position: 0 -1650px;
}
ul.social-icons li.instagram {
    background-position: 0 -1680px;
}
ul.social-icons li.instagram:hover {
    background-position: 0 -1710px;
}
ul.social-icons li.foursquare {
    background-position: 0 -1740px;
}
ul.social-icons li.foursquare:hover {
    background-position: 0 -1770px;
}
ul.social-icons li.zerply {
    background-position: 0 -1800px;
}
ul.social-icons li.zerply:hover {
    background-position: 0 -1830px;
}
