{% extends "layout.html" %}

{% block title %}Contactez-nous{% endblock %}

{% block style %}


    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/responsive-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home2.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home-min.css') }}">
    


<!--[if IE 9]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie9-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie8-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie-min.css?build=c6d3fcc" />
<![endif]-->

{% endblock %}

{% block javascript %}
    <script id="undefined" src="{{ url_for('static', filename='home/js/inpage_linkid.js') }}" async="" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='home/js/site-min.js') }}"></script>
    {% endblock %}
</head>

<body id="home" class="html-ltr sand lang-fr wide">
	<div id="strings" data-global-close="Fermer" data-news-next="Article suivant" data-news-prev="Article précédent">
	</div>

	<div id="outer-wrapper">
		<div id="wrapper">
    {% block main_content %}
			<main id="main-content" role="main">
				<header class="mission">
					<a href="{{ url_for('home') }}"><img id="logo" src="{{ url_for('static', filename='common/img/logo.png') }}"></a>
					<h1>
						<img class="mz" src="{{ url_for('static', filename='common/img/mozilla-wordmark-red.png') }}" data-src="//mozorg.cdn.mozilla.net/media/img/home/mozilla-wordmark-red.png" data-high-res="true" alt="Mozilla" height="70" width="258">
						Tunisia
					</h1>
					<p class="tagline">
						Un Web plus juste, c'est dans nos co{r}des
					</p>
					<p class="engage">
						<a href="http://www.mozilla.org/fr/contribute/" class="button go">Contribuer</a>
					</p>
				</header>
				
				<section class="extra">
					<div class="container">
						<h1 class="title-shadow-box">{{ self.title()}}</h1>
					</div>
					<div class="container">	
          <div class="intro intro-left">
              {% if sent %}
                <div> Message envoyé, on va vous contacter bientôt :) </div>
              {% endif %}

							
								<form action="{{url_for('contact') }}" method="POST" id="inquiry-form" class="inquiry-form">
								{{ form.hidden_tag() }}
								<fieldset class="personal">
        							<ul>
										<li>
											<label for="person-name">Nom</label>
											<input type="text"  name="last_name" id="last_name">
											{% for message in form.first_name.errors %}
											  <div class="flash">{{ message }}</div>
											{% endfor %}
										</li>
										<li>
											<label for="person-name">Prénom</label>
											<input type="text"  name="first_name" id="first_name">
											{% for message in form.last_name.errors %}
											  <div class="flash">{{ message }}</div>
											{% endfor %}
										</li>
										<li>
											<label for="person-email">Sujet</label>
											<input type="text" name="subject" id="subject">
											{% for message in form.subject.errors %}
											  <div class="flash">{{ message }}</div>
											{% endfor %}
										</li>
										<li>
											<label for="person-email">Email</label>
											<input type="email" name="email" id="email">
											{% for message in form.email.errors %}
											  <div class="flash">{{ message }}</div>
											{% endfor %}
										</li>
          
										<li class="form-message">
											<label for="person-message">Message</label>
										<textarea name="message" rows="4" cols="60" id="person-message"></textarea>
										{% for message in form.message.errors %}
										  <div class="flash">{{ message }}</div>
										{% endfor %}
										</li>
                    
          
        							</ul>
        							{{ form.recaptcha }}
                      {% if form.recaptcha.errors|length > 0 %}
							  <div class="flash">Il faut vérifier que vous n'êtes pas un robot !</div>
							{% endif %}
      							</fieldset>

								<fieldset class="submit">
        							<button type="submit" class="button" name="submit">Envoyer</button>
      							</fieldset>
							</form>
						</div>
						<div class="video video-right social">							
							<h4>Rester en <strong>contact</strong></h4>
							<ul class="social-icons">
							<li class="facebook"><a href="https://www.facebook.com/MozillaTunisia" target="_blank" title="Facebook">Facebook</a></li>
							<li class="twitter"><a href="https://twitter.com/MozillaTunisia" target="_blank" title="Twitter">Twitter</a></li>
							<li class="youtube"><a href="https://www.youtube.com/user/MozTn" target="_blank" title="Youtube">Youtube</a></li>
						</ul>
						</div>
					</div>
					
				</section>
			</main>
    {% endblock %}
		</div>
		<!-- close #wrapper -->
	</div>
	<!-- close #outer-wrapper -->
{% block last_load_javascript %}
	<!--[if IE 9]>
	      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
	    <![endif]-->
	<script src="{{ url_for('static', filename='home/js/mozorg-resp-min.js') }}"></script>
	<!--[if gt IE 7]> <!-- -->
	<script src="{{ url_for('static', filename='home/js/home-min.js') }}"></script>
	<!-- <![endif]-->
	<div class="crossrider-nofity-14917" index="0">	</div>
	<div class="crossrider-nofity-14917-top-left">	</div>
	<div class="crossrider-nofity-14917-top-right">	</div>
	<div class="crossrider-nofity-14917-bottom-left"> </div>
	<div class="crossrider-nofity-14917-bottom-right"></div>
	<link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='contact/contact.css') }}">
{% endblock %}
</body>

</html>
