 		<footer id="colophon" class="">
		<div class="row">
			<div class="col col-1">
				<a href="http://www.mozilla-tunisia.org/"><img id="logo-footer" src="{{ url_for('static', filename='common/img/footer-mozilla.png') }}" alt="mozilla"></a>
			</div>
		<div class="col col-2">
		   	<p>
		   		Ce site a été crée et est maintenu par la communauté Mozilla Tunisia appartenant à la fondation internationale <a href="https://www.mozilla.org/fr/">Mozilla</a>.  Sous license  : <a href="https://www.mozilla.org/fr/foundation/licensing/website-content/">Creative Common</a>. Le contenu du site est disponible sur <a href="https://github.com/moztn/www-moztn">Github</a>.
		   	</p>
		</div>

		<div class="col col-3">
			<span class="foo_icon">
				<a href="https://www.github.com/moztn">
					<i class="fa fa-github-square fa-3x"></i>
				</a>
			</span>
			<span class="foo_icon">
				<a href="https://www.facebook.com/MozillaTunisia">
					<i class="fa fa-facebook-official fa-3x"></i>
				</a>
			</span>
	     	<span class="foo_icon">
	     		<a href="https://twitter.com/MozillaTunisia">
	     			<i class="fa fa-twitter fa-3x"></i>
	     		</a>
	     	</span>
	     	<span class="foo_icon">
	     		<a href="https://www.youtube.com/user/MozTn">
	     			<i class="fa fa-youtube-play fa-3x"></i>
	     		</a>
	     	</span>

		</div>
	
		</div>
		</footer>
