 		<footer id="colophon" class="">
		<div class="row">
			<div class="footer-logo">
				<a href="http://www.mozilla-tunisia.org/"><img src="img/footer-mozilla.png" alt="mozilla"></a>
			</div>
			<div class="footer-license">
				<p>
					 Certaines parties de ce contenu sont ©1998–2013 par les contributeurs individuels de mozilla.org. Le contenu est disponible sous <a href="http://www.mozilla.org/fr/foundation/licensing/website-content/">licence Creative Commons</a>.
				</p>
				<p>
					<a href="http://www.mozilla.org/fr/contribute/page/">Contribuer à cette page</a>
				</p>
			</div>
			<ul class="footer-nav">
				<li><a href="http://www.mozilla.org/fr/contact/spaces/">Contactez-nous</a></li>
				<li><a href="http://www.mozilla.org/fr/about/partnerships/">Partenariats</a></li>
				<li><a href="https://sendto.mozilla.org/page/contribute/EOYFR2013-webFR?source=mozillaorg_footer&amp;amount=20" class="donate">Faire un don</a></li>
				<li><a href="http://www.mozilla.org/fr/privacy/">Respect de la vie privée</a></li>
				<li><a href="http://www.mozilla.org/fr/about/legal.html">Avertissement légal</a></li>
				<li><a href="http://www.mozilla.org/fr/legal/fraud-report/index.html">Signaler un abus de marque déposée</a></li>
			</ul>
			<ul class="footer-nav">
				<li><a href="https://twitter.com/firefox">Twitter</a></li>
				<li><a href="https://facebook.com/Firefox">Facebook</a></li>
				<li><a href="https://affiliates.mozilla.org/">Firefox Affiliates</a></li>
			</ul>
			<div class="footer-lang">
				<form id="lang_form" dir="ltr" method="get" action="#">
					<label for="language">Autres langues&nbsp;:</label>
					<select id="language" name="lang" dir="ltr">
						<option value="af">Afrikaans</option>
						<option value="an">aragonés</option>
						<option value="ar">عربي</option>
						<option value="ast">Asturianu</option>
						<option value="bg">Български</option>
						<option value="bn-IN">বাংলা (ভারত)</option>
						<option value="br">Brezhoneg</option>
						<option value="ca">Català</option>
						<option value="cs">Čeština</option>
						<option value="cy">Cymraeg</option>
						<option value="da">Dansk</option>
						<option value="de">Deutsch</option>
						<option value="el">Ελληνικά</option>
						<option value="en-US">English (US)</option>
						<option value="eo">Esperanto</option>
						<option value="es-AR">Español (de Argentina)</option>
						<option value="es-CL">Español (de Chile)</option>
						<option value="es-ES">Español (de España)</option>
						<option value="es-MX">Español (de México)</option>
						<option value="et">Eesti keel</option>
						<option value="eu">Euskara</option>
						<option value="fa">فارسی</option>
						<option value="fi">suomi</option>
						<option value="fr" selected="selected">Français</option>
						<option value="fy-NL">Frysk</option>
						<option value="ga-IE">Gaeilge</option>
						<option value="gd">Gàidhlig</option>
						<option value="he">עברית</option>
						<option value="hi-IN">हिन्दी (भारत)</option>
						<option value="hr">Hrvatski</option>
						<option value="hu">magyar</option>
						<option value="hy-AM">Հայերեն</option>
						<option value="id">Bahasa Indonesia</option>
						<option value="is">íslenska</option>
						<option value="it">Italiano</option>
						<option value="ko">한국어</option>
						<option value="ku">Kurdî</option>
						<option value="lt">lietuvių kalba</option>
						<option value="mk">Македонски</option>
						<option value="ms">Melayu</option>
						<option value="nl">Nederlands</option>
						<option value="oc">occitan (lengadocian)</option>
						<option value="pl">Polski</option>
						<option value="pt-BR">Português (do&nbsp;Brasil)</option>
						<option value="rm">rumantsch</option>
						<option value="ro">română</option>
						<option value="ru">Русский</option>
						<option value="sk">slovenčina</option>
						<option value="sl">Slovenščina</option>
						<option value="sq">Shqip</option>
						<option value="sv-SE">Svenska</option>
						<option value="tr">Türkçe</option>
						<option value="uk">Українська</option>
						<option value="xh">isiXhosa</option>
						<option value="zh-CN">中文 (简体)</option>
						<option value="zh-TW">正體中文 (繁體)</option>
					</select>
					<noscript>
					<button type="submit">Go</button>
					</noscript>
				</form>
			</div>
		</div>
		</footer>

