			<header id="masthead">
				<a aria-label="Liens Mozilla" href="http://www.mozilla.org/fr/" id="tabzilla">Mozilla</a>
				<span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
				<nav id="nav-main" role="navigation">
					<ul id="nav-main-menu">
						<li class="first mission-item"><a href="https://blog.mozilla-tunisia.org">Blog</a></li>
            <li class="first mission-item"><a href="/contribute">Contribuer</a></li>
            <li class="first mission-item"><a href="/ressources">Ressources</a></li>
            <li class="first mission-item"><a href="/join">Nous-rejoindre</a></li>
						<li class="about-item"><a href="/about">À propos</a></li>
						<li class="contribute-item"><a href="/contact">Contactez-nous</a></li>

					</ul>
				</nav>
			</header>
