			<header id="masthead">
				<a aria-label="Liens Mozilla" href="http://www.mozilla.org/fr/" id="tabzilla">Mozilla</a>
				<span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
				<nav id="nav-main" role="navigation">
					<ul id="nav-main-menu">
						<li class="first mission-item"><a href="{{ url_for('home') }}">Home</a></li>
						<li class="mission-item"><a href="https://blog.mozilla-tunisia.org">Blog</a></li>
            <li class="mission-item"><a href="{{ url_for('contribute') }}">Contribuer</a></li>
            <li class="mission-item"><a href="{{ url_for('resources') }}">Ressources</a></li>
						<li class="about-item"><a href="{{ url_for('about') }}">À propos</a></li>
						<li class="last contribute-item"><a href="{{ url_for('contact') }}">Contactez-nous</a></li>

					</ul>
				</nav>
			</header>
