  <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='common/css/tabzilla-min.css') }}">
	<div id="tabzilla-panel" class="tabzilla-closed" tabindex="-1">
		<div id="tabzilla-contents">
			<div id="tabzilla-promo">
				<div class="snippet" id="tabzilla-promo-donate-201312">
					<a href="https://sendto.mozilla.org/page/contribute/EOYFR2013-webFR?icn=tabz&amp;source=tabzilla_image&amp;amount=20">
					<h4>Aidez Mozilla</h4>
					<span class="button">Faire un don</span>
					</a>
				</div>
			</div>
			<div id="tabzilla-nav">
				<ul>
					<li>
					<h2>Mozilla</h2>
					<div>
						<ul>
							<li>
							<a href="https://www.mozilla.org/mission/?icn=tabz">Mission</a>
							</li>
							<li>
							<a href="https://www.mozilla.org/about/?icn=tabz">À propos</a>
							</li>
							<li>
							<a href="https://www.mozilla.org/projects/?icn=tabz">Projets</a></li>
							<li><a href="https://support.mozilla.org/?icn=tabz">Assistance</a></li>
							<li><a href="https://developer.mozilla.org/?icn=tabz">Réseau développeurs</a></li>
						</ul>
					</div>
					</li>
					<li>
					<h2>Logiciels</h2>
					<div>
						<ul>
							<li><a href="https://www.mozilla.org/firefox/?icn=tabz">Firefox</a></li>
							<li><a href="https://www.mozilla.org/thunderbird/?icn=tabz">Thunderbird</a></li>
							<li><a href="https://www.mozilla.org/firefox/os/?icn=tabz">Firefox OS</a></li>
						</ul>
					</div>
					</li>
					<li>
					<h2>Innovations</h2>
					<div>
						<ul>
							<li><a href="https://webfwd.org/?icn=tabz">WebFWD</a></li>
							<li><a href="https://mozillalabs.com/?icn=tabz">Labs</a></li>
							<li><a href="https://webmaker.org/?icn=tabz">Webmaker</a></li>
							<li><a href="https://www.mozilla.org/research/?icn=tabz">Research</a></li>
						</ul>
					</div>
					</li>
					<li>
					<h2>Participer</h2>
					<div>
						<ul>
							<li><a href="https://www.mozilla.org/contribute/?icn=tabz">Contribuer</a></li>
							<li><a href="https://www.mozilla.org/en-US/about/careers.html?icn=tabz">Carrières</a></li>
							<li><a href="https://www.mozilla.org/en-US/about/mozilla-spaces/?icn=tabz">Nous trouver</a></li>
							<li><a href="https://sendto.mozilla.org/page/contribute/EOYFR2013-webFR?icn=tabz&amp;source=tabzilla_donate&amp;amount=20" class="donate">Faire un don</a></li>
							<li><a href="https://www.mozilla.org/about/partnerships/?icn=tabz">Partenariats</a></li>
						</ul>
					</div>
					</li>
					<li id="tabzilla-search"><a href="https://www.mozilla.org/community/directory.html?icn=tabz">Annuaire des sites web</a>
					<form title="Rechercher des sites Mozilla" role="search" action="https://www.google.com/cse">
						<input value="002443141534113389537:ysdmevkkknw" name="cx" type="hidden"><input value="FORID:0" name="cof" type="hidden"><label for="q">Rechercher</label><input placeholder="Rechercher" id="q" name="q" type="search">
					</form>
					</li>
				</ul>
			</div>
		</div>
	</div>

