{% extends "layout.html" %}

{% block title %}Contribuer{% endblock %}

{% block style %}


    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/responsive-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home2.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='contribute/css/contribute.css') }}">


<!--[if IE 9]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie9-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie8-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie-min.css?build=c6d3fcc" />
<![endif]-->

{% endblock %}

{% block javascript %}
    <script id="undefined" src="{{ url_for('static', filename='home/js/inpage_linkid.js') }}" async="" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='home/js/site-min.js') }}"></script>
    {% endblock %}
</head>

<body id="home" class="html-ltr sand lang-fr wide">
	<div id="strings" data-global-close="Fermer" data-news-next="Article suivant" data-news-prev="Article précédent">
	</div>

	<div id="outer-wrapper">
		<div id="wrapper">
    {% block main_content %}
			<main id="main-content" role="main">
				<header class="mission">
					<img id="logo" src="{{ url_for('static', filename='common/img/logo.png') }}">
					<h1>
						<img class="mz" src="{{ url_for('static', filename='common/img/mozilla-wordmark-red.png') }}" data-src="//mozorg.cdn.mozilla.net/media/img/home/mozilla-wordmark-red.png" data-high-res="true" alt="Mozilla" height="70" width="258">
						Tunisia
					</h1>
					<p class="tagline">
						Un Web plus juste, c'est dans nos co{r}des
					</p>
					<p class="engage">
						<a href="http://www.mozilla.org/fr/contribute/" class="button go">Contribuer</a>
					</p>
				</header>

				<section class="extra">
					<div class="container ">
						<h1 class="title-shadow-box">{{ self.title()}}</h1>
					</div>
					<div class="container">
					    <h1 class="page-title">Venez rejoindre le bon coté de la force et laisser votre empreinte pour un web ouvert à tous</h1>
					    <!-- <p class="section-tagline">Vous voulez vous impliquer? Voici comment.</p> -->
			        </div>

				</section>
				<section class="section landing-howto" id="landing-howto">
				    <div class="container">
				      <h2 class="section-title">Vous voulez vous impliquer? Voici comment : </h2>
				      <ol class="steps">
				        <li class="step1">Choisissez ce qui vous intéresse parmi les domaines de contributions proposés</li>
				        <li class="step2">Un mail sera envoyé à notre mailing list et on vous répondra pour plus d'informations</li>
				        <li class="step3">Créez un compte sur <a href="https://mozillians.org/fr/">Mozillians.org</a> et rejoingez le groupe Mozilla Tunisia</li>
				      </ol>
				      <!-- <p class="cta"><a data-label="Get started" data-position="CTA button click - landing bottom" href="/en-US/contribute/signup/">Get started</a></p> -->
				    </div>
				</section>
				<header class="page-head">
				  	<div class="container">
				    	<h1 class="page-title">Dites-nous d'abord ce qui vous intéresse</h1>
				    	<p class="section-tagline">Faites vous plaisir et contribuez à votre rythme dans l'un de nos projets. Visitez la liste des domaines de contribution et faites vous votre idée</p>
				  	</div>
				</header>
				<section class="section inquiry">
    				<div class="container">
            			<form action="" method="post" id="inquiry-form" class="inquiry-form">
      						<fieldset class="categories">
        						<ul class="option-list">
                      				<li class="option">
              							<label class="category-coding">
							                <input type="radio" value="coding" required="required" name="category">
							                <span class="label-text">Codage</span>
							                <a href="#info-coding" class="info">Plus d'informations</a>
              							</label>
            						</li>
                      				<li class="option">
              							<label class="category-testing">
							                <input type="radio" value="testing" required="required" name="category">
							                <span class="label-text">Tests</span>
							                <a href="#info-testing" class="info">Plus d'informations</a>
              							</label>
            						</li>
                      				<li class="option">
              							<label class="category-writing">
							                <input type="radio" value="writing" required="required" name="category">
							                <span class="label-text">Ecriture</span>
							                <a href="#info-writing" class="info">Plus d'informations</a>
              							</label>
            						</li>
                      				<li class="option">
              							<label class="category-teaching">
                							<input type="radio" value="teaching" required="required" name="category">
							                <span class="label-text">Enseignement</span>
							                <a href="#info-teaching" class="info">Plus d'informations</a>
              							</label>
            						</li>
                      				<li class="option">
              							<label class="category-translating">
							                <input type="radio" value="translating" required="required" name="category">
							                <span class="label-text">Traduction</span>
							                <a href="#info-translating" class="info">Plus d'informations</a>
              							</label>
            						</li>
            						<li class="option">
              							<label class="category-activism">
							                <input type="radio" value="activism" required="required" name="category">
							                <span class="label-text">Activisme</span>
							                <a href="#info-activism" class="info">Plus d'informations</a>
              							</label>
            						</li>
            						<li class="option">
	              						<label class="category-helping">
							                <input type="radio" value="helping" required="required" name="category">
							                <span class="label-text">Aide</span>
							                <a href="#info-helping" class="info">Plus d'informations</a>
	              						</label>
            						</li>
                  				</ul>
      						</fieldset>
           <fieldset class="personal">
            <h2 class="section-title">Tell us about yourself</h2>
            <ul>
             <li>
              <label for="person-name">Nom</label>
              <input id="id_name" type="text" required="required" name="name"/>
             </li>
             <li>
              <label for="person-email">Adresse Mail</label>
              <input id="id_email" type="email" required="required" name="email"/>
             </li>
             <li>
              <label for="person-country">Country</label>
              <span class="select">
               <select id="id_country" name="country">
<option value="" selected="selected">-- select --</option>
<option value="af">Afghanistan</option>
<option value="al">Albania</option>
<option value="dz">Algeria</option>
<option value="as">American Samoa</option>
<option value="ad">Andorra</option>
<option value="ao">Angola</option>
<option value="ai">Anguilla</option>
<option value="aq">Antarctica</option>
<option value="ag">Antigua and Barbuda</option>
<option value="ar">Argentina</option>
<option value="am">Armenia</option>
<option value="aw">Aruba</option>
<option value="au">Australia</option>
<option value="at">Austria</option>
<option value="az">Azerbaijan</option>
<option value="bs">Bahamas</option>
<option value="bh">Bahrain</option>
<option value="bd">Bangladesh</option>
<option value="bb">Barbados</option>
<option value="by">Belarus</option>
<option value="be">Belgium</option>
<option value="bz">Belize</option>
<option value="bj">Benin</option>
<option value="bm">Bermuda</option>
<option value="bt">Bhutan</option>
<option value="bo">Bolivia</option>
<option value="ba">Bosnia and Herzegovina</option>
<option value="bw">Botswana</option>
<option value="bv">Bouvet Island</option>
<option value="br">Brazil</option>
<option value="io">British Indian Ocean Territory</option>
<option value="vg">British Virgin Islands</option>
<option value="bn">Brunei Darussalam</option>
<option value="bg">Bulgaria</option>
<option value="bf">Burkina Faso</option>
<option value="bi">Burundi</option>
<option value="kh">Cambodia</option>
<option value="cm">Cameroon</option>
<option value="ca">Canada</option>
<option value="cv">Cape Verde</option>
<option value="ky">Cayman Islands</option>
<option value="cf">Central African Republic</option>
<option value="td">Chad</option>
<option value="cl">Chile</option>
<option value="cn">China</option>
<option value="cx">Christmas Island</option>
<option value="cc">Cocos (Keeling) Islands</option>
<option value="co">Colombia</option>
<option value="km">Comoros</option>
<option value="cg">Congo-Brazzaville</option>
<option value="cd">Congo-Kinshasa</option>
<option value="ck">Cook Islands</option>
<option value="cr">Costa Rica</option>
<option value="hr">Croatia</option>
<option value="cu">Cuba</option>
<option value="cy">Cyprus</option>
<option value="cz">Czech Republic</option>
<option value="dk">Denmark</option>
<option value="dj">Djibouti</option>
<option value="dm">Dominica</option>
<option value="do">Dominican Republic</option>
<option value="ec">Ecuador</option>
<option value="eg">Egypt</option>
<option value="sv">El Salvador</option>
<option value="gq">Equatorial Guinea</option>
<option value="er">Eritrea</option>
<option value="ee">Estonia</option>
<option value="et">Ethiopia</option>
<option value="fk">Falkland Islands (Malvinas)</option>
<option value="fo">Faroe Islands</option>
<option value="fj">Fiji</option>
<option value="fi">Finland</option>
<option value="fr">France</option>
<option value="gf">French Guiana</option>
<option value="pf">French Polynesia</option>
<option value="tf">French Southern Territories</option>
<option value="ga">Gabon</option>
<option value="gm">Gambia</option>
<option value="ge">Georgia</option>
<option value="de">Germany</option>
<option value="gh">Ghana</option>
<option value="gi">Gibraltar</option>
<option value="gr">Greece</option>
<option value="gl">Greenland</option>
<option value="gd">Grenada</option>
<option value="gp">Guadeloupe</option>
<option value="gu">Guam</option>
<option value="gt">Guatemala</option>
<option value="gg">Guernsey</option>
<option value="gn">Guinea</option>
<option value="gw">Guinea-Bissau</option>
<option value="gy">Guyana</option>
<option value="ht">Haiti</option>
<option value="hm">Heard Island and McDonald Islands</option>
<option value="hn">Honduras</option>
<option value="hk">Hong Kong</option>
<option value="hu">Hungary</option>
<option value="is">Iceland</option>
<option value="in">India</option>
<option value="id">Indonesia</option>
<option value="ir">Iran</option>
<option value="iq">Iraq</option>
<option value="ie">Ireland</option>
<option value="im">Isle of Man</option>
<option value="il">Israel</option>
<option value="it">Italy</option>
<option value="ci">Ivory Coast</option>
<option value="jm">Jamaica</option>
<option value="jp">Japan</option>
<option value="je">Jersey</option>
<option value="jo">Jordan</option>
<option value="kz">Kazakhstan</option>
<option value="ke">Kenya</option>
<option value="ki">Kiribati</option>
<option value="kw">Kuwait</option>
<option value="kg">Kyrgyzstan</option>
<option value="la">Laos</option>
<option value="lv">Latvia</option>
<option value="lb">Lebanon</option>
<option value="ls">Lesotho</option>
<option value="lr">Liberia</option>
<option value="ly">Libya</option>
<option value="li">Liechtenstein</option>
<option value="lt">Lithuania</option>
<option value="lu">Luxembourg</option>
<option value="mo">Macao</option>
<option value="mk">Macedonia, F.Y.R. of</option>
<option value="mg">Madagascar</option>
<option value="mw">Malawi</option>
<option value="my">Malaysia</option>
<option value="mv">Maldives</option>
<option value="ml">Mali</option>
<option value="mt">Malta</option>
<option value="mh">Marshall Islands</option>
<option value="mq">Martinique</option>
<option value="mr">Mauritania</option>
<option value="mu">Mauritius</option>
<option value="yt">Mayotte</option>
<option value="mx">Mexico</option>
<option value="fm">Micronesia</option>
<option value="md">Moldova</option>
<option value="mc">Monaco</option>
<option value="mn">Mongolia</option>
<option value="me">Montenegro</option>
<option value="ms">Montserrat</option>
<option value="ma">Morocco</option>
<option value="mz">Mozambique</option>
<option value="mm">Myanmar</option>
<option value="na">Namibia</option>
<option value="nr">Nauru</option>
<option value="np">Nepal</option>
<option value="nl">Netherlands</option>
<option value="an">Netherlands Antilles</option>
<option value="nc">New Caledonia</option>
<option value="nz">New Zealand</option>
<option value="ni">Nicaragua</option>
<option value="ne">Niger</option>
<option value="ng">Nigeria</option>
<option value="nu">Niue</option>
<option value="nf">Norfolk Island</option>
<option value="kp">North Korea</option>
<option value="mp">Northern Mariana Islands</option>
<option value="no">Norway</option>
<option value="ps">Occupied Palestinian Territory</option>
<option value="om">Oman</option>
<option value="pk">Pakistan</option>
<option value="pw">Palau</option>
<option value="pa">Panama</option>
<option value="pg">Papua New Guinea</option>
<option value="py">Paraguay</option>
<option value="pe">Peru</option>
<option value="ph">Philippines</option>
<option value="pn">Pitcairn</option>
<option value="pl">Poland</option>
<option value="pt">Portugal</option>
<option value="pr">Puerto Rico</option>
<option value="qa">Qatar</option>
<option value="re">Reunion</option>
<option value="ro">Romania</option>
<option value="ru">Russian Federation</option>
<option value="rw">Rwanda</option>
<option value="bl">Saint Barthélemy</option>
<option value="sh">Saint Helena</option>
<option value="kn">Saint Kitts and Nevis</option>
<option value="lc">Saint Lucia</option>
<option value="mf">Saint Martin</option>
<option value="pm">Saint Pierre and Miquelon</option>
<option value="vc">Saint Vincent and the Grenadines</option>
<option value="ws">Samoa</option>
<option value="sm">San Marino</option>
<option value="st">Sao Tome and Principe</option>
<option value="sa">Saudi Arabia</option>
<option value="sn">Senegal</option>
<option value="rs">Serbia</option>
<option value="sc">Seychelles</option>
<option value="sl">Sierra Leone</option>
<option value="sg">Singapore</option>
<option value="sk">Slovakia</option>
<option value="si">Slovenia</option>
<option value="sb">Solomon Islands</option>
<option value="so">Somalia</option>
<option value="za">South Africa</option>
<option value="gs">South Georgia and the South Sandwich Islands</option>
<option value="kr">South Korea</option>
<option value="es">Spain</option>
<option value="lk">Sri Lanka</option>
<option value="sd">Sudan</option>
<option value="sr">Suriname</option>
<option value="sj">Svalbard and Jan Mayen</option>
<option value="sz">Swaziland</option>
<option value="se">Sweden</option>
<option value="ch">Switzerland</option>
<option value="sy">Syria</option>
<option value="tw">Taiwan</option>
<option value="tj">Tajikistan</option>
<option value="tz">Tanzania</option>
<option value="th">Thailand</option>
<option value="tl">Timor-Leste</option>
<option value="tg">Togo</option>
<option value="tk">Tokelau</option>
<option value="to">Tonga</option>
<option value="tt">Trinidad and Tobago</option>
<option value="tn">Tunisia</option>
<option value="tr">Turkey</option>
<option value="tm">Turkmenistan</option>
<option value="tc">Turks and Caicos Islands</option>
<option value="tv">Tuvalu</option>
<option value="ae">U.A.E.</option>
<option value="vi">U.S. Virgin Islands</option>
<option value="ug">Uganda</option>
<option value="ua">Ukraine</option>
<option value="gb">United Kingdom</option>
<option value="us">United States</option>
<option value="um">United States Minor Outlying Islands</option>
<option value="uy">Uruguay</option>
<option value="uz">Uzbekistan</option>
<option value="vu">Vanuatu</option>
<option value="va">Vatican City</option>
<option value="ve">Venezuela</option>
<option value="vn">Vietnam</option>
<option value="wf">Wallis and Futuna</option>
<option value="eh">Western Sahara</option>
<option value="ye">Yemen</option>
<option value="zm">Zambia</option>
<option value="zw">Zimbabwe</option>
<option value="ax">Åland Islands</option>
</select>
            </span>

          </li>
          <li class="form-message">
            <label for="person-message">Why do you want to be a Mozilla volunteer? <i>(Optional)</i></label>
            <textarea id="person-message" cols="60" rows="4" name="message"></textarea>
          </li>
          <li class="form-format">
            <span class="label">
              Format
            </span>
                          <label class="inline"><input name="format" required="required" type="radio" value="H" /> HTML</label>
                          <label class="inline"><input name="format" required="required" type="radio" value="T" /> Text</label>
                      </li>
          <li class="form-agree">
            <label for="id_privacy" class="privacy-check-label"><input id="id_privacy" name="privacy" required="required" type="checkbox" /> <span class="title">I’m okay with Mozilla handling my info as explained in <a href="/privacy/">this Privacy Policy</a></span></label>

          </li>
        </ul>
      </fieldset>
      <fieldset class="submit">
        <p class="form-newsletter">
          <label class="inline" for="id_newsletter">
            <input id="id_newsletter" name="newsletter" type="checkbox" />

            Sign me up for community updates
                      </label>
        </p>

        <button type="submit">Rejoindre MOZILLA TUNISIA</button>
      </fieldset>
      						<!-- Moved by Melek and Sofien : No need for this section now -->
      						<!--
      						<header class="page-head">
							  	<div class="container">
							    	<h1 class="page-title">Prêt à contribuer ?</h1>
							    	<p class="section-tagline">Venez partager et affiner vos connaissances avec nous, on n'attend plus que vous! Rejoignez nous et devenez membre.</p>
							  	</div>
							</header>
      						<fieldset class="submit">

        						<button type="submit">REJOINDRE MOZILLA TUNISIA</button>
      						</fieldset>
      						-->
    					</form>

    					<aside class="category-info">
      						<h2>Où vous voulez commencer ?</h2>
      						<div id="info-coding" class="info-content">
        						<h3>Codage</h3>
        						<p>Contribuez en ajoutant des lignes de code aux différents produits de Mozilla dont Firefox et Firefox OS</p>
      						</div>
					      	<div id="info-testing" class="info-content">
					        	<h3>Tests</h3>
					        	<p>Aidez à rendre les produits Mozilla meilleurs en les testant</p>
					      	</div>
      						<div id="info-writing" class="info-content">
        						<h3>Écriture </h3>
        						<p>Participez en écrivant différents types de documents et informations:  des blogposts, de la documentation technique...</p>
      						</div>

      						<div id="info-teaching" class="info-content">
        						<h3>Enseignement </h3>
        						<p>Partagez vos connaissances et enrichissez les outils d'apprentissage de Mozilla</p>
      						</div>

      						<div id="info-helping" class="info-content">
        						<h3>Aide</h3>
        						<p>Aidez les utilisateurs et les nouveaux contributeurs à commencer et à comprendre nos produits</p>
      						</div>

      						<div id="info-translating" class="info-content">
        						<h3>Traduction</h3>
        						<p>Rendrez les contenus et produits Mozilla accessibles dans votre langue locale</p>
      						</div>

      						<div id="info-activism" class="info-content">
        						<h3>Activisme</h3>
        						<p>Faites du web ouvert votre combat et aidez nous à diffuser notre culture</p>
      						</div>
    					</aside>

  					</div>
				</section>
				<section class="section landing-notready" id="landing-notready">
				    <div class="container">
				      <h2 class="section-title">Vous n'êtes pas encore prêt à sauter le pas?</h2>
				      <p class="section-tagline">Voici d'autres moyens pour soutenir la communauté dès maintenant</p>
				      <ul class="other-actions">
				        <li>
				          <a data-label="Donate to Mozilla" class="other-donate" href="blog.mozilla-tunisia.org">Découvrez notre Blog</a>
				        </li>
				        <li>
				          <a data-label="Download Firefox" class="other-download" href="www.mozilla.org/en-US/firefox/">Téléchargez Firefox</a>
				        </li>
				                        <li>
				          <a data-label="Like us on Facebook" class="other-facebook" href="https://www.facebook.com/mozillatunisia">Aimez la page Facebook</a>
				        </li>
				        <li>
				          <a data-label="Follow us on Twitter" class="other-twitter" href="https://twitter.com/mozillatunisia">Suiver-nous sur Twitter</a>
				        </li>
				      </ul>
				    </div>
				</section>
			</main>
    {% endblock %}
		</div>
		<!-- close #wrapper -->
	</div>
	<!-- close #outer-wrapper -->
{% block last_load_javascript %}
	<!--[if IE 9]>
	      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
	    <![endif]-->
	<script src="{{ url_for('static', filename='home/js/mozorg-resp-min.js') }}"></script>
	<!--[if gt IE 7]> <!-- -->
	<script src="{{ url_for('static', filename='home/js/home-min.js') }}"></script>
	<script src="{{ url_for('static', filename='contribute/js/contribute.js') }}"></script>
	<!-- <![endif]-->
	<div class="crossrider-nofity-14917" index="0">	</div>
	<div class="crossrider-nofity-14917-top-left">	</div>
	<div class="crossrider-nofity-14917-top-right">	</div>
	<div class="crossrider-nofity-14917-bottom-left"> </div>
	<div class="crossrider-nofity-14917-bottom-right"></div>
{% endblock %}
</body>

</html>
